<div class="row">
  <div class="col-12">
    <p>Input Main Deck Here:</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="input-group">
      <textarea id="mainboard"
                class="form-control" 
                rows="10"
                placeholder="4 Serum Visions
4 Opt"></textarea>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-12">
    <p>Input Sideboard Here:</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="input-group">
      <textarea id="sideboard"
                class="form-control" 
                rows="5"
                placeholder="4 Dispel"></textarea>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-12">
    <button id="calculate" class="btn btn-primary">
      Calculate
    </button>
  </div>
</div>

<br>

<div class="row" id="loader-row" style="display: none;">
  <div class="col-12">
    <div class="loader"></div>
  </div>
</div>

<div class="row" id="time-row" style="display: none;">
  <div class="col-12">
    Time: <span id="time-display"></span>
  </div>
</div>

<br>

<div class="row" id="total-row" style="display: none;">
  <div class="col-12">
    <h3>Total: <span id="total-amount"></span></h3>
  </div>
</div>

<div class="row" id="mainboard-row" style="display: none;">
  <div class="col-12">
    <h4>Mainboard</h4>

    <table id="mainboard-table" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody id="mainboard-table-body">        
      </tbody>
    </table>
  </div>
</div>

<div class="row" id="sideboard-row" style="display: none;">
  <div class="col-12">
    <h4>Sideboard</h4>

    <table id="sideboard-table" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody id="sideboard-table-body">        
      </tbody>
    </table>
  </div>
</div>





